<!DOCTYPE html>
<html>
<head>
	<title>RMI Time Off Hub</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

</head>
<body>
	<img src="/static/RMI-Logo.png" id="logo">
	<nav>
	</nav>
	<div class="button-section">
		<div class="button">
			<img src="/static/vacation.png">
			<h3>Vacation Page</h3>

		</div>
		<div class="button">
			<img src="/static/holiday.png">
			<h3>Holiday Calendar</h3>
		</div>	
	</div>


</body>
</html>